*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#container{
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
ul#item-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
li.item{
    width: 290px;
    height: 330px;
    border: 1px solid black;

    list-style: none;
    background-color: white;

    cursor: pointer;
    position: relative;
}

li p.item-name{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

li p.price{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
}

li button.add-cart{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

#cart{
    border: 2px solid rgba(0, 0, 0, 0.342);
    width: 20vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

#cart h2{
    margin:40px 0 0 40px;
}

#cart-list{
    margin-top: 30px;
}

#cart-list li.item-cart{
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#cart-list li button.btn-remove{
    width: 70px;
}

#cart h3#total{
    position: absolute;
    bottom: 30px;
    margin-left: 40px;
}

#show-cart{
    padding: 20px;
    margin-top: 15px;
}